%h1.p5 New contact

.l-form.l-form-small
  = simple_form_for(@contact) do |f|
    = f.error_notification

    .form-inputs
      %fieldset
        = f.input :linkedin_url, placeholder: "http://linkedin.com/in/examplename"
        %p
          %img{src: "../assets/images/arrow.png"}
          %b Copy and paste a public linkedin URL here.
    .form-actions
      = f.button :submit, class: "btn-mini btn-solid btn-accent"
